

/*Import google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap&Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap&family=Inter:slnt,wght@-10..0,100..900&display=swap&family=Arapey:ital@0;1&display=swap');


/* CSS HEX */
:root {

--brandy-100: #f4ede0;
--brandy-300: #caa06d;
--pearl-bush-100: #eae3d9;
--zinnwaldite-50: #fbf7f5;
--zinnwaldite-300: #debfb2;
--husk-300: #c4b980;
--husk-400: #ae9c54;
--husk-500: #a38f4f;
--husk-600: #8c7442;
--hampton-200: #e9deb0;
--hampton-300: #d8c171;
--hampton-400: #ceac51;
--mondo-900: #4a392e;
--mondo-950: #2e211a;

font-family: "Inter";


}

/* line-height: Interline size proportional to font size*/
* {
    margin: 0;
    padding: 0;
    line-height: calc(1em + 0.5rem);   
    
}


body {
    background-color: var(--brandy-100);
    color: var(--mondo-900);
   }

 /*Styling header and nav bar*/

.header {
     /* position: fixed;
    top: 0; */
    height: 10dvh;
    width: 100%;  
    /* padding: 1.25rem 10%;  */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;   
    align-items: center;

}

.navbar {
    text-decoration: none;
    color: var(--mondo-950);
    margin: 1em;
    width: 4dvw;
    padding: 0.5em;
    flex-direction: row;
    /* flex-wrap: wrap; */
    font-weight: 500;
    font-size: small;
    transition-duration: 0.7s;

}

.navbar:hover {
    background-color: var(--zinnwaldite-300);
    border-radius: 0.5em;

}

/* 
.navbar:active {
    background-color: var(--mondo-900);
    color: var(--pearl-bush-100);
    border-radius: 0.5em;
} */


.home {
    /* margin-top: 10dvh; */
    max-height: 86dvh;
    width: 100%;
    padding: 2rem 0;
    display: flex;  
    flex-direction: column;
    justify-content: center;
   align-items: center;
    flex-wrap: wrap;
}


.profilepicture {
    height:30dvh;
    border-radius: 1em;   
    margin-top: 2em;

}

.home-content{
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}

.home-text  {
    margin-top: 1.5em;
    margin-left: 1em;
    font-family: "Poppins";
    font-size: 2rem;
}


span {
    font-style: italic;
}


.my-button {
    background-color: var(--husk-400);
    color: var(--hampton-200);
    font-family: "Inter";
    height: fit-content;
    width: fit-content;
    letter-spacing: 0.1em;
    font-weight: 600;
    border-radius: 0.5em;
    padding: 1em 2em;
    box-shadow: 0 0 1em var(--husk-600);
    transition: 0.7s ease;
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

.my-button:hover {
    background-color: var(--mondo-900);  
    box-shadow: none;
}

footer {
    height: 4dvh;
    width: 100%;    
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: var(--pearl-bush-100);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    
}

.about > main {
    /* margin-top: -5dvh; */
    min-height: 86dvh;
    width: 100%;
    padding: 3em;
    /* margin-left: 2dvw;
    margin-right: 2dvw; */
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

/* .about > * {
    margin: 1em;
} */


.about-main {
        /* margin: 1dvh; */
        min-height: 86dvh;
        width: 100%;
        /* padding: 2em 0; */
        margin-left: 3dvw;
        margin-right: 3dvw;
        display: flex;  
        flex-direction: column;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
}

.about-header {
    align-self: center;
}
.about-p {
min-width: 1rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   flex-wrap: wrap;
   gap: 1em;
   font-weight: 500;  
   margin: 1.5em 2em 0 1em;

  text-wrap: wrap;

}

.about-picture {
    height: 15rem;
    /* width: 20dvw; */
    margin-top: 1em;
    border-top-right-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
    display: flex;    
    justify-content: center;
    align-items: center;
           
}

.about-cards {
    max-width: 60dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: var(--brandy-300);
    padding: 1.5em;
    margin: 2em;
    border-radius: 2em;
    transition: 0.7s ease-in-out
}

.about-cards > h3 {
    margin-bottom: 1em;
    margin-top: 0;
}

.about-cards:hover {
    background-color: var(--brandy-300);
}

.about-cardsDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
 
}

.skills {
    /* margin:-3dvh; */
    min-height: 86dvh;
    width: 100%;
    padding: 2rem 0;
    margin-left: 2dvw;
    margin-right: 2dvw;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.skills-header > h1 {
    margin-bottom: 1em;
    margin-top: 0;
}

.skills-card {
   max-width: 35dvw;
   height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: solid;
    border-color: var(--brandy-300);
    border-radius: 2em;
    margin: 2rem;
    padding: 1rem;
}

.skills-card > img {
    max-width:20dvw;
    /* max-height: 25dvh; */
    border-radius: 2em; 
    /* margin: 0.5em 0 2em 0; */
    object-fit: fill;
}
     
.skills-card > p {
    margin: 0.5em 0 0.5em 0;
    font-size: small;
   
}
     
.skills-card > h3 {
    margin: 0.25em 0 0.25em 0;
    
     
}

.skills-cardsDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.blog {
   min-height: 86dvh;
    width: 100%;
    margin-left: 2dvw;
    margin-right: 2dvw;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-content: center;
   
}

.blog-header {
    font-size: x-large;
    align-self: center;
    /* margin-bottom: 2em; */
  
}

.blog-card {
   width: 70%;
   max-height: 55dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;
    /* flex-wrap: wrap; */
    border-color: var(--brandy-300);
    padding: 1em;
    margin: 1.5em;
    border-radius: 2em;
    /* transition: 0.7s ease-in-out */
}

.blog-card > img {
   max-width:30dvw;
   max-height: 25dvh;
    border-radius: 2em; 
    /* margin: 0.5em 0 2em 0; */
    object-fit: fill;
}

.blog-card > p {
    margin: 0.5em 0 0.5em 0;
    font-size: medium;
}

.blog-card > h3 {
    margin: 0.25em 0 0.25em 0;
}

.blog-cardDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog.individual > main {
    /* margin:-3dvh; */
    min-height: 86dvh;
    width: 100%;
    /* padding: 2rem 0; */
    margin-left: 2dvw;
    margin-right: 2dvw;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.blogsolo {
    align-self: center;
}

.blog-content {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 3rem;
    gap: 0.5em;
}

.blog-content > img {
    width: 20dvw;
    height: auto;
    /* align-self: center; */
    /* margin-top: -3dvh; */
    
}

.blog-content > a {
    margin-top: 1rem;
}



.contact {
    margin: -10dvh;
    min-height: 86dvh;
    width: 100%;
    padding: 2rem 0;
    margin-left: 2dvw;
    margin-right: 2dvw;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* flex-wrap: wrap; */
}

.contact-header {
    margin-bottom: 1rem;
    font-size: large;
    align-self: center;
}
.contactDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
 
}

/* .email:hover {
    flex-grow: calc(1 0 3);
    letter-spacing: 1em;
    font-size: large; 
   
} */

.contact-img {
    max-width: 75%;
    filter: opacity(70%);
    border-style: ridge;
    margin: 1rem;
}
/* 
.email {
    color: var(--mondo-950);
} */


/* Mobile view
@media screen and (max-width: 600px) 
    .navbar {
        font-size: small;
    }
      */
    

/* Desktop view */
@media screen and (min-width: 600px) {
.navbar {
    font-size: x-large;
    /* justify-content: flex-end; */
}

/* .about-me {
    align-self: flex-start; */
    

.about-header {
    align-self: center;
    font-size: x-large;
}
.about-cardsDisplay {
    flex-direction: row;
}

.skills-header{
    align-self: center;
    font-size: x-large;
}

.blog-header {
    align-self: center;
    font-size: x-large;
}

.blog-cardDisplay {
    flex-direction: row;
    flex-wrap: wrap;
}

.blog-card {
   padding: 1.5em;
   width: 30dvw;
   height: 50dvh;
}

.blog-content > img {
    max-width: 100%;
    height: auto
    
}

.contact-header{
    align-self: center;
  
    font-size: x-large;
    margin-bottom: 1em;
}

.about-p {
    max-width: 80%;
    justify-content: center;
}    

}