

/*Import google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap&family=Cardo:ital,wght@0,400;0,700;1,400&family=Inter:slnt,wght@-10..0,100..900&display=swap&family=Arapey:ital@0;1&display=swap');


/* CSS HEX */
:root {

--stark-white-200: #e9dbc1;
--pearl-bush-100: #eae3d9;
--zinnwaldite-50: #fbf7f5;
--zinnwaldite-300: #debfb2;
--husk-300: #c4b980;
--husk-400: #ae9c54;
--husk-500: #a38f4f;
--husk-600: #8c7442;
--hampton-200: #e9deb0;
--hampton-300: #d8c171;
--hampton-400: #ceac51;
--mondo-900: #4a392e;
--mondo-950: #2e211a;

font-family: "Inter";


}

/* Interline size proportional to font size*/
* {
    margin: 0;
    padding: 0;
    line-height: calc(1em + 0.5rem);   
    
}


body {
    background-color: var(--stark-white-200);
    color: var(--mondo-900);
   }

 /*Styling header and nav bar*/

.header {
     /* position: fixed;
    top: 0; */
    height: 10dvh;
    width: 100%;  
    /* padding: 1.25rem 10%;  */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;   
    align-items: center;

}

.navbar {
    text-decoration: none;
    color: var(--mondo-950);
    margin: 1em;
    width: 4dvw;
    padding: 0.5em;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: large;
    transition-duration: 0.7s;

}

.navbar:hover {
    background-color: var(--zinnwaldite-300);
    border-radius: 0.5em;

}


/* .navbar:active {
    background-color: var(--mondo-900);
    color: var(--pearl-bush-100);
    border-radius: 0.5em;
} */


.home {
    margin-top: 10dvh;
    min-height: 86dvh;
    width: 100%;
    padding: 2rem 0;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}


.profilepicture {
    height:35dvh;
    /* width: 20dvw; */
    margin-top: -20dvh;
     border-radius: 1em; 
     display: flex;    
     justify-content: center;
     align-items: center;       
}

.home-content{
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.home-content h3 {
    font-family: "Arapey";
    font-weight: 600;
    font-size: 2rem;
    /* justify-content: center; */
    /* font-style: italic; */
 
    /* margin-top: 3dvh;
    margin-top: 2dvh; */

}

.home-content h2 {
    font-family: "Arapey";
    font-size: 2rem;
    font-weight: 700;
    justify-content: center;
   
}

span {
    font-style: italic;
}


.my-button {
    background-color: var(--husk-400);
    color: var(--hampton-200);
    font-family: "Inter";
    height: fit-content;
    width: fit-content;
    letter-spacing: 0.1em;
    font-weight: 600;
    border-radius: 0.5em;
    padding: 1em 2em;
    box-shadow: 0 0 1em var(--husk-600);
    transition: 0.7s ease;
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

.my-button:hover {
    background-color: var(--mondo-900);  
    box-shadow: none;
}

footer {
    height: 4dvh;
    width: 100%;    
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: var(--zinnwaldite-300);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    
}




.about h1 {
    font-size: x-large

}

/* Mobile view */
@media screen and (max-width: 600px) {
    .navbar {
        font-size: small;
    }
    
    /* .home-content h3, 
         margin-left: 2rem;  */
     
    .home-content h2 {
        margin-left: 1.5rem;
    }

    .profilepicture {
        max-width: 75%;
        height: auto;
        justify-content: center;
    }
}
    

/* Desktop view */
@media screen and (min-width: 600px) {
.navbar {
    font-size: large;
}
    
} 
